doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Login - UpTask
            
             if error
                p 
                .error.alerta
                    p - #{error}

            form#formulario.caja.caja-login(method="POST" action="/login")
                .campo
                    label(for="email") Email: 
                    input(type="email", name="email" placeholder="hello@world.com" value=email)
                .campo
                    label(for="password") Password: 
                    input(type="password", name="password" placeholder="Your password")
                .campo.enviar
                    input.boton(type="submit", value="Login")
                .campo
                    a(href="/signup") Don't have an account yet? Register now

