extends layouts/main-layout
include mixins/create-project

block content
    .contenido-principal 
        h1 #{title}

        if errors
            each error in errors
                .alerta.error #{error.text}

        +create-project(project)