doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario
            h1 #{title}
            p Add your Email to reset password 

            if error
                p.alerta.error #{error.error}

            form.caja-login(method="POST" action="/reset-password")
                .campo
                    label(for="email") Email: 
                    input(type="email", name="email" placeholder="hello@world.com")
                .campo.enviar
                    input.boton(type="submit", value="Reset password")
                .campo.acciones
                    a(href="/login") Back to Login