doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1 #{pageName}
            p Add your E-mail so we can restore your password

            if locals.messages
                .alertas
                    each category in Object.keys(locals.messages)
                        each error in messages[category]
                            .alerta(class=`${category}`)
                                p= error

            form.caja.caja-login(action="/restore-password" method="POST") 
                .campo 
                    label(for="email") E-mail: 
                    input(type="email" name="email" placeholder="Your E-mail" value=email )
                .campo.enviar
                    input.boton(type="submit", value="Restore")
                .campo.acciones
                    a(href="/create-account") Back to Login
