doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Create your account on UpTask

            if errors
                each error in errors
                    p.error.alerta #{error.message}

            form#formulario.caja.caja-login(method="POST" action="/signup")
                .campo
                    label(for="email") Email: 
                    input(type="email", name="email" placeholder="hello@world.com")
                .campo
                    label(for="password") Password: 
                    input(type="password", name="password" placeholder="Your password")
                .campo.enviar
                    input.boton(type="submit", value="Create account")
                .campo
                    a(href="/login") Back to login

        script(src="/dist/bundle.js")
