extends layouts/layout

block content 
    .contenido-principal 
        h1 #{pageName} - #{project.name}

        //- TODO - Form here

        //- TODO - Pending list

        //- Actions we can do
        .contenedor-acciones
            a(href="" class="boton") Edit Project