doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        h2 Activate your UpTask account
        p You're almost ready, press the following button.
        p This link have is valid for the next hour only.
        a(href=`${url}`) Activate account
        p If you can't access, visit: #{url}