doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        h2 Restore Password 
        p Hello, you have request for a password reset
        p The following link is a temporary one, so if it's invalid you need to generate a new one
        a(href=`${resetUrl}`) Reset Password